@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Montserrat:wght@300;400;500;700&family=Roboto:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}


/* HEADER */

header {
    height: 6.3em;
    background-color: #00192B;
    width: 100%;
    display: flex;
}

.right-header,
.left-header {
    width: 50%;
    height: 100%;
}

.right-header {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.left-header {
    color: white;
    text-decoration: underline;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.left-header li {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.left-header a {
    color: white;
}

header img {
    height: 5em;
}

/**MAIN */

main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-image {
    margin-top: 4em;
    margin-bottom: 2em;
}

.container-image-qrcode {
    margin-bottom: 4em;
    margin-top: 2em;
}

.container-qrcode-text a {
    color: #1A74CB;
    text-decoration: none;
}


/* FOOTER */

footer {
    position: absolute;
    width: 100%;
    height: 10em;
    background-color: #00192B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctn-app-footer {
    margin-top: 1em;
}

.ctn-app-footer p {
    color: #7EC0FF;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.ctn-year-footer {
    font-family: "Montserrat";
    font-size: 16px;
    color: white;
    margin-top: 1em;
}

.ctn-number-footer {
    color: #C5C5C5;
    font-family: "Montserrat";
    margin-top: 1em;
}

/** ABOUT **/

.ctn-h1-h2{
    text-align: center;
}